:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

    --main-color: var(--mauve);
    --main-background: #1e1e2e;
    --main-background-transparent: #1e1e2edd;
    --dark-background: #181825;
    --hover-background: #313244;
    --second-background: #181825;
    --main-text: #cdd6f4;
    --white-text: #cdd6f4;
    --dimmer-text: #9399b2;

    --red-color: var(--red);
    --green-color: var(--green);
    --blue-color: var(--blue);
    --cyan-color: var(--sky);
    --yellow-color: var(--yellow);
}

.monospace {
    font-family: "JetBrains Mono", monospace;
}

* {
    background: var(--main-background);
    color: var(--main-text);
}

.boundary {
    border: 4px solid var(--dark-background);
    border-radius: 4px;
}

.right_align {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.min {
    width: fit-content;
    margin: 12px;
}